<div class="container">
    <h1>Benvenuto in Unicredit Banca</h1>
    <h3>Quale operazione vorresti fare?</h3>

    <ul class="nav nav-pills">
        <li class="nav-item mx-3">
          <a class="nav-link active" routerLink="/estratto-conto">Estratto Conto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/deposito">Deposito</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active" routerLink="/prelievo">Prelievo</a>
        </li>
      </ul>

</div>
